<%- include("partials/header") -%>

<h1>Compose.</h1>

<form class="" action="/" method="post">
  <div class="form-group">
    <label><strong>Title.</strong></label>
    <input type="text" class="form-control" name="composeTitle" value="" autocomplete="off">
    <label><strong>Content.</strong></label>
    <textarea name="composeBody" class="form-control" rows="8" cols="80" autocomplete="off"></textarea>
    <p></p>
    <button type="submit" name="" class="btn btn-primary">Publish</button>
  </div>
</form>

<%- include("partials/footer") -%>
